<h2>
    {{title}}
</h2>
<div *ngIf="errorMessage">Error: {{errorMessage}}</div>
<table border='1'>
    <tr>
        <th>
            group ID
        </th>
        <th>
            description
        </th>
        <th>
            state
        </th>
        <th>
            timestamp
        </th>
    </tr>
    <tr *ngFor="let processGroup of processGroups | async">
        <td>
            {{processGroup.groupId}}
        </td>
        <td>
            {{processGroup.description}}
        </td>
        <td>
            {{processGroup.stateMin}} - {{processGroup.stateMax}}
        </td>
        <td>
            {{processGroup.timeScheduled}} - {{processGroup.timeFinished}}
        </td>
    </tr>
</table>
<div (click)="onNext()">Next...</div>
<div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="onScroll()"></div>
<!--
<h3>
    Selected: <process-group [processGroup]="selectedProcessGroup"></process-group>
</h3>
-->
